{block title}{if $x=$page->getMeta('html-title')}{$x}{else}{$page[heading]}{/if}{/block}

{block layout_aftertitle}{if $x=$page->getMeta('html-aftertitle')}{$x}{else}{include #parent}{/if}{/block}

{block content}

<H1>QR codes will be available after all registration data is gathered (Tuesday)</h1>

You may save the address in the browser, to apply the code when its up and running.

